.navbar {
  background-color: #550A67;
}

.logo_text {
  font-family: 'Righteous', cursive;
  font-size: 30px;
  font-weight: bold;
  color: #E2DB06 !important;
  align-items: center;
  display: flex;
  letter-spacing: 2px;
  padding: 0 90px;
}

.logo {
  width: 50px;
  height: 50px;
}

.hero_section {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #550A67;
  color: #ffffff !important;
  font-weight: bold;
  padding: 0 250px 0 120px;
}

.hero_section_h1 {
  font-family: 'Righteous', cursive;
  font-size: 80px;
  font-weight: bold;
  color: #ffffff !important;
  width: 650px;
  letter-spacing: 2px;
}

.hero_section_h5 {
  font-family: 'Righteous', cursive;
  font-size: 25px;
  color: #E2DB06 !important;
  width: 650px;
  letter-spacing: 2px;
}

.video {
  border-radius: 10px !important;
  -moz-border-radius: 10px;
  object-fit: cover;
  -webkit-border-radius: 40px;
  overflow: hidden;
}

.video2 {
  display: none;
}

a {
  text-decoration: none;
}

.download {
  border: 3px solid white;
  background-color: #550A67;
  color: #E2DB06;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  text-decoration: none;
  padding: 0px 15px;
  border-radius: 10px;
  font-weight: bold;
  gap: 7px;
  margin-top: 40px;
}

@media only screen and (max-width: 800px) and (min-width: 600px) {

  .logo_text {
    font-size: 30px;
    display: flex;
    letter-spacing: 2px;
    padding: 0 30px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .hero_section {
    height: 90vh;
    padding: 0 100px 0 50px;
  }

  .hero_section_h1 {
    font-size: 40px;
    width: 300px;
    letter-spacing: 2px;
  }

  .hero_section_h5 {
    font-size: 18px;
    width: 300px;
    letter-spacing: 2px;
  }

  .video2 {
    display: none;
  }

  .video {
    border-radius: 10px !important;
    -moz-border-radius: 10px;

    -webkit-border-radius: 40px;
    overflow: hidden;
  }

  .download {
    padding: 0px 10px;
    border-radius: 10px;
    font-weight: bold;
    gap: 7px;
    margin-top: 40px;
  }

}

@media only screen and (max-width: 600px) {
  .logo_text {
    font-size: 30px;
    display: flex;
    letter-spacing: 2px;
    padding: 0 30px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .hero_section {
    height: auto;
    padding: 0 100px 0 50px;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  .hero_section_text {
    padding: 20px 0 40px 0;
  }

  .hero_section_h1 {
    font-size: 40px;
    width: 300px;
    letter-spacing: 2px;
  }

  .hero_section_h5 {
    font-size: 18px;
    width: 300px;
    letter-spacing: 2px;
  }

  .video2 {
    display: block;
    border-radius: 10px !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 40px;
    overflow: hidden;
    margin-left: 40px;
  }

  .video {
    display: none;
  }

  .download {
    padding: 0px 10px;
    border-radius: 10px;
    font-weight: bold;
    gap: 7px;
    margin-top: 40px;
  }

}

@media only screen and (max-width: 320px) {
  .logo_text {
    font-size: 30px;
    display: flex;
    letter-spacing: 2px;
    padding: 0 20px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .hero_section {
    height: auto;
    padding: 0 100px 0 40px;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  .hero_section_text{
    padding: 20px 0 40px 0;
  }

  .hero_section_h1 {
    font-size: 30px;
    width: 260px;
    letter-spacing: 2px;
  }

  .hero_section_h5 {
    font-size: 14px;
    width: 200px;
    letter-spacing: 2px;
  }

  .video2 {
    display: block;
    border-radius: 10px !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 40px;
    overflow: hidden;
    margin-left: 60px;
  }

  .video {
    display: none;
  }

  .download {
    padding: 0px 10px;
    border-radius: 10px;
    font-weight: bold;
    gap: 7px;
    margin-top: 20px;
  }

}